<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Psychologist.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E254D1FC1CAE53DA00DC1F30</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E254D2101CAE53DB00DC1F30</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E254D21B1CAE53DB00DC1F30</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
